extends layout
block css	
	link(rel='stylesheet', href='/stylesheets/accueil.css')

block content
	h1= title
	h2 Vonotar le Traître
	p Au nord du royaume du Sommerlund, il est de tradition depuisdes siècles d'envoyer les fils des Seigneurs de la Guerre aumonastère Kaï. C'est là qu'on leur enseigne l'art et la science deleurs nobles ancêtres.
	p Vous êtes le Loup Solitaire et le dernier Seigneur de la Guerreque compte encore le Sommerlund. Il y a un an, les ennemis irréductibles de votre peuple - les Maîtres des Ténèbresd'Helgedad - ont envahi le royaume par surprise et complètement détruit le monastère Kaï. Tous les Guerriers Kaïqui y étaient rassemblés pour préparer la fête de Fehrman ont étémassacrés. Vous avez été le seul à échapper à la tuerie.
	p Vous avez alors regagné Holmgard, la capitale, en bravant biendes périls et le roi vous a aussitôt confié une mission : vousrendre dans le royaume ami de Durenor pour y demander une aide urgente de vos alliés. Là encore, vous avez dû affronterd'innombrables dangers, car le Sommerlund avait été trahi parl'un de ses propres mages, Vonotar le Traître. Ses agentscherchaient toutes les occasions de vous tuer, mais votre intelligence et votre force ont eu raison de leur malfaisance. Vous êtes donc revenu à la tête d'une puissance flotte-celle de vosalliés de Durenor et l'armée des Maîtres des Ténèbres quiassiégeait la capitale a été mise en déroute.
	p Une grande partie du Sommerlund fut détruite par le conflit. Deriches terres arables n'étaient plus qu'étendues désolées etplusieurs villes se trouvèrent entièrement rasées. Mais les Sommerlundois sont un peuple courageux et l'énorme tâche dereconstruction qu'ils avaient à accomplir ne les effrayait pas. Ilsentreprirent donc de rebâtir le Sommerlund dévasté avec unetelle détermination qu'à présent, un an plus tard, les traces de laguerre ont presque complètement disparu.
	p Pour vous récompenser du rôle essentiel que vous avez joué dansla victoire, le roi vous a accordé le rang et le titre de «Novicomte du Sommerlund», une distinction rare pour quelqu'un d'aussi jeune. Les ruines du monastère Kaï et la plupart des terres quil'environnent sont à présent un « Novicomté » placé sous votre protection.
	p Les travaux de reconstruction du monastère étaient sur le pointde commencer lorsque des nouvelles inquiétantes venues dunord incitèrent le roi à vous convoquer dans la capitale. Denombreux marchands, revenant de leurs expéditions d'été dansles mers de Kalte, ont rapporté que le Brumalmarc -c'est le nomque l'on donne au chef des Barbares des Glaces-avait étérenversé. Or, la description qu'ils ont faite du mage bossu qui asuccédé sur son trône au féroce tyran ne peut correspondre qu'àun seul homme : Vonotar le Traître.
	p Après la défaite des Maîtres des Ténèbres, Vonotar alla seréfugier dans les déserts glacés de Kalte. Il parvint jusqu'à laForteresse de Glace d'Ikaya où il réussit, par la ruse et la tromperie, à convaincre le cruel Brumalmarc de le prendre à sonservice comme mage officiel. De la part du chef barbare, ce fut làune grave erreur qui lui coûta tout à la fois sa forteresse et la vie.
	p La nouvelle que Vonotar serait toujours actif se répand commeune traînée de poudre dans tout le royaume du Sommerlund.Des milliers de citoyens se sont rassemblés autour de la capitale pour exiger qu'on fasse payer à Vonotar le prix de sa trahison.L'agitation est telle que le roi se voit contraint de promettre quel'infâme traître sera ramené à Holmgard pour y répondre de sescrimes. Et pour vous, Loup Solitaire, la promesse du roi marquele commencement d'une quête qui va vous confronter à unennemi détesté entre tous en vous plongeant dans de redoutablesprofondeurs : celles des Grottes de Kalte.

	#[a(href="/creation") Création du joueur]