extends layout
block css	
	link(rel='stylesheet', href='/stylesheets/aide.css')

block content
	h1 Aide du jeu

	block general
		h2 Régles générales
		p Lorsqu'on débute le jeu, trois valeurs sont générées aléatoirement. La première, que nous appellerons points d'HABILITÉ, comprise entre 10 et 19, détermine l'HABILITÉ au combat. La deuxième représente les points d'ENDURANCE et est comprise entre 20 et 29. Lorsqu'un joueur est blessé dans un combat, il perd des points d'ENDURANCE. Lorsque la valeur sera à zéro, il sera considéré mort et son aventure sera donc terminée. Dans certaines situations, il sera possible de récupérer des points d'ENDURANCE, mais on ne pourra jamais dépasser la valeur initiale. La troisième valeur, comprise entre 10 et 19, indique le nombre de Pièces d'Or que possède le joueur au départ.  À noter qu'à aucun moment le joueur ne pourra posséder sur lui plus de 50 Pièces d'Or.
	
	block discipline
		h2 Disciplines Kai

		h3 Le Camouflage
		p Cette technique permet au Seigneur Kaï de se fondre dans le paysage. A la campagne, il peut se cacher parmi les arbres et les rochers et se rendre de cette façon invisible à l'ennemi même s'il passe tout près de lui. Dans une ville, cette Discipline donnera à celui qui l'utilise la faculté d'avoir l'air d'un habitant du cru, tant par l'apparence que par l'accent ou la langue employée. On peut ainsi trouver un abri où se cacher en toute sécurité.
		p Si vous choisissez cette technique, inscrivez Camouflage sur votre Feuille d'Aventure.

		h3 La Chasse
		p Cette Discipline donne au Seigneur Kaï l'assurance qu'il ne mourra jamais de faim, même s'il se trouve dans un environnement hostile. Il aura toujours la possibilité de chasser pour se procurer de la nourriture, sauf dans les déserts et autres régions arides. Vous devez savoir que la Vassagonie est un empire situé au cœur du désert. Dans ce pays aride, les occasions de faire bonne chasse seront peut-être rares, pour ne pas dire inexistantes. Cette technique, cependant, se révélera très utile, car elle permet à un Seigneur Kaï de se déplacer très vite et avec une grande agilité. Si vous choisissez cette Discipline, inscrivez Chasse sur votre Feuille d'Aventure.

		h3 Sixième sens
		p Grâce à cette technique, le Seigneur Kaï devine les dangers imminents qui le menacent. Ce Sixième Sens peut également lui révéler les intentions véritables d'un inconnu ou la nature d'un objet étrange rencontré au cours d'une aventure. Si vous choisissez cette Discipline, inscrivez Sixième Sens sur votre Feuille d'Aventure.

		h3 L'Orientation
		p Chaque fois qu'il se trouvera dans l'obligation de décider quelle direction il doit prendre, le Seigneur Kaï fera toujours le bon choix grâce à cette technique. Il saura ainsi quel chemin il convient d'emprunter dans une forêt et il pourra également, dans une ville, découvrir l'endroit où est caché une personne ou un objet. Par ailleurs, il saura interpréter chaque trace de pas,chaque empreinte qui pourrait lui permettre de remonter une piste.
		p Si vous choisissez cette Discipline, inscrivez Orientation sur votre Feuille d'Aventure.

		h3 La Guérison
		p Cette Discipline donne la faculté de récupérer des points d'ENDURANCE perdus lors d'un combat. Si vous maîtrisez cette technique, vous pourrez ajouter 1 point d'ENDURANCE à votre total chaque fois qu'il vous sera possible d'aller d'un bout à l'autre d'un paragraphe sans avoir à combattre un ennemi. (Vous n'aurez le droit d'utiliser cette technique de la Guérison que lorsque vos points d'ENDURANCE seront tombés en dessous de votre total initial. Rappelez-vous que vos points d'ENDURANCE ne peuvent en aucun cas excéder votre total de départ.) Si vous choisissez cette Discipline, inscrivez sur votre Feuille d'Aventure: Guérison ; 1 point d'ENDURANCE pour chaque paragraphe parcouru sans combat.

		h3 La Maîtrise des Armes
		p En entrant au monastère Kaï, chaque élève a la possibilité d'être initié au maniement d'une arme. Si vous choisissez d'avoir la Maîtrise d'une arme, utilisez la Table de Hasard à la manièrehabituelle pour obtenir un chiffre qui correspondra, dans la liste ci-dessous, à l'arme dont on vous aura enseigné le maniement. Vous aurez dès lors la parfaite Maîtrise de cette arme et, chaque fois que vous combattrez avec elle, vous aurez droit à 2 points d'HABILETÉ supplémentaires.

		ul
			li 0: LE POIGNARD
			li 1: LA LANCE
			li 2: LA MASSE D'Armes
			li 3: LE SABRE
			li 4: LE MARTEAU DE GUERRE
			li 5: L'ÉPÉE
			li 6: LA HACHE
			li 7: L'ÉPÉE
			li 8: LE BÂTON
			li 9: LE GLAIVE
		img(src="http://www.projectaon.org/en/xhtml/lw/03tcok/weapons.png")

		p  Le fait que vous ayez la Maîtrise d'une arme ne signifie nullement que vous disposerez de cette arme dès le début de votre aventure ; au cours de celle-ci, cependant, l'occasion vous sera donnée de vous la procurer. Vous pourrez d'ailleurs acquérir diverses armes au cours de votre quête mais vous n'aurez pas le droit d'en posséder plus de 2 à la fois. Si vous choisissez cette Discipline, inscrivez sur votre Feuille d'Aventure: Maîtrise de...(ici, le nom de l'arme). 2 points d'HABILETÉ supplémentaires chaque fois qu'il en sera fait usage.

		h3 Bouclier Psychique
		p Certaines créatures malfaisantes de Magnamund ont la faculté de vous porter atteinte en faisant usage de leur force psychique.La technique du Bouclier Psychique vous permet cependant de ne pas perdre de points d'ENDURANCE lorsque vous vous trouvez soumis à une telle agression. Si vous choisissez cette Discipline, inscrivez sur votre Feuille d'Aventure: Bouclier Psychique ; pas de perte d'ENDURANCE en cas d'agression mentale.

		h3 Puissance Psychique
		p Cette technique permet au Seigneur Kaï d'attaquer un ennemi en se servant de la force de son esprit : on peut l'utiliser en même temps qu'une arme de combat habituelle et l'on dispose alors de 2 points supplémentaires d'HABILETÉ. Cette Puissance Psychique, cependant, n'est pas forcément efficace avec toutes les créatures : il se peut que certaines d'entre elles y soient insensibles. Si le cas se présente, vous en serez averti au cours de votre mission.
		p Si vous choisissez cette Discipline, inscrivez sur votre Feuille d'Aventure: Puissance psychique; 2 points d'HABILETÉ supplémentaires.

		h3 Communication Animale
		p Grâce à cette technique, un Seigneur Kaï peut communiquer avec certains animaux et deviner les intentions de certains autres. Si vous choisissez cette Discipline, inscrivez Communication Animale sur votre Feuille d'Aventure.

		h3 Maîtrise Psychique de la Matière
		p C'est une technique qui donne à un Seigneur Kaï la faculté de déplacer de petits objets par le simple pouvoir de sa concentration mentale.

	block equipement
		h2 Équipement
		p Finalement, avant de commencer l'aventure, il doit monter son équipement, jusqu'à un maximum de deux items. Le joueur ne peut jamais porter plus de deux armes, et son sac à dos ne peut contenir plus de huit objets incluant les repars (à noter que les Pièces d'Or ne sont pas dans le sac à dos mais dans une bourse portée à la ceinture). Vous avez le droit à tout moment d'échanger l'un de ces objets ou tout simplement cous en débarrasser, mais il vous est interdit de le faire lorsque vous êtes engagé dans un combat. Les objets spéciaux ne sont pas rangés dans le sac à dos, donc ils ne prennent pas d'espaces. Il choisit deux items parmi les items suivant:
		p Épée : (Arme).
		p Sabre : (Arme).
		p Lance : (Arme).
		p Masses d'armes : (Arme).
		p Marteau de guerre : (Arme).
		p Hâche : (Arme).
		p Bâton : (Arme).
		p Glaive : (Arme).
		p Gilet de cuir matelassé : (Objet spécial). Ce gilet donne deux points d'ENDURANCE supplémentaires.
		p Potion de Lampsur : (Objet contenu dans le sac à dos). Cette potion vous rendra 4 points d'ENDURANCE lorsque vous la boirez à la fin d'un combat. Le flacon que l'on vous donne n'en contient qu'une seule dose.
		p Rations spéciales : (Objet contenu dans le sac à dos). Elles comptent pour un repas.

	block combats
		h2 Combats
		p Au cours de votre mission, vous aurez parfois à combattre un ennemi. Le texte vous précisera en chaque circonstance quels sont les points d'HABILETÉ et d'ENDURANCE de l'ennemi en question. Le Loup Solitaire (c'est-à-dire vous-même) devra alors s'efforcer de tuer son adversaire en réduisant à zéro les points d'ENDURANCE de ce dernier, tout en essayant lui-même de perdre le moins possible de points d'ENDURANCE au cours de l'affrontement. Au début de chaque combat, inscrivez le total d'ENDURANCE du Loup Solitaire, ainsi que celui de l'ennemi sur votre Feuille d'Aventure. Ces indications devront être portéesdans la case Compte Rendu des Combats. Chaque affrontement se déroule de la manière suivante :
		ol
			li Ajoutez à votre total d'HABILETÉ les points supplémentaires que certaines Disciplines Kaï peuvent vous donner.
			li Un nombre aléatoire entre 0 et 9 est choisi. En utilisant ce nombre et le quotient d'attaque, on consulte la table de correspondance illustrée aux figures 1a et 1b, afin de déterminer le nombre de points d'ENDURANCE qui seront perdus par le joueur et l'ennemi.
			li Soustraire de ce total les points d'HABILETÉ de l'adversaire. Ce résultat représente le quotient d'attaque.
			li Un nombre aléatoire entre 0 et 9 est choisi. En utilisant ce nombre et le quotient d'attaque, on consulte la table de correspondance illustrée aux figures 1a et 1b, afin de déterminer le nombre de points d'ENDURANCE qui seront perdus par le joueur et l'ennemi.
			li On diminue les points d'ENDURANCE du joueur et de l'ennemi.
			li À moins qu'une possibilité de fuite soit offerte ou que des indications différentes soient fournies, on recommence un nouveau round de combat, en retournant à l'étape 3. On continue ainsi jusqu'à ce qu'un des deux combattants soit mort.
		img(src="./images/TableCombat.PNG")
		p Si le joueur a la possibilité de fuir, il peut le faire à la fin d'un round, après avoir diminué ses points d'ENDURANCE.
