extends layout

block css	
	link(rel='stylesheet', href='/stylesheets/creation.css')
	script(src="/javascripts/controllerCreation.js")
block content
	h1 Création du joueur
	h2(id="errorMessage") #{error}

	table(id ="oldPlayers")

	form(name="charCreationForm", action="/saveChar", method="post" autocomplete="off", ng-controller="disciplinesListController", onsubmit = "return validateForm(#{nbMaitriseMax}, #{nbObjectsMax})")
		#table
			#leftColumn
				h2 Rang
				p Initié
				h2 Attributs
				fieldset
					input(type="string", id = "nameValue",name="name",value="{{name}}")
					input(type="number", name="habilete",value="#{habilete}")
					input(type="number", name="endurance",value="#{endurance}")
					input(type="number", name="or",value="#{or}")
				p(id="name") Nom : 
						input(ng-model='name', name="nameInput")
				p(id="habilete") Habileté : #{habilete}
				p(id="endurance") Endurance : #{endurance}
				p(id="or") Pièces d'or : #{or}

			#midColumn
				h2 Disciplines Kai
				p(id="choixMaitrise") #{nbMaitriseMax} choix restant
				fieldset
					ul(id="discisplinesList", 'choixMaitrise')
						li(ng-repeat="(discipline, name) in disciplines")
							input(type="checkbox", name="{{discipline}}", id="{{discipline}}", class="discipline",ng-click="disciplineClick(discipline, #{nbMaitriseMax}, 'choixMaitrise')")
							label(for="{{discipline}}") {{name}}

			#rightColumn
				h2 Équipement
				p(id="choixObjet") #{nbObjectsMax} choix restant
				fieldset
					.equipmentList
						h3 Armes
						ul(class = "equipmentList", ng-click="reduceChoice(#{nbObjectsMax}, 'choixObjet')")
							li(ng-repeat="(arme, name) in armes")
								input(type="checkbox", name="{{arme}}", id="{{arme}}", class="equipment")
								label(for="{{arme}}") {{name}}

					.equipmentList
						h3 Objet contenu dans le sac à dos
						ul(class = "equipmentList", ng-click="reduceChoice(#{nbObjectsMax}, 'choixObjet')")
							li(ng-repeat="(objet, name) in sacADos")
								input(type="checkbox", name="{{objet}}", id="{{objet}}", class="equipment")
								label(for="{{objet}}") {{name}}

						h3 Objet spécial	
						ul(class = "equipmentList", ng-click="reduceChoice(#{nbObjectsMax}, 'choixObjet')")
							li(ng-repeat="(objet, name) in objetSpeciaux")
								input(type="checkbox", name="{{objet}}", id="{{objet}}", class="equipment")
								label(for="{{objet}}") {{name}}
		#button
			button(
				type="submit"
				id="confirmButton"
				).
				Page de Jeu