extends layout
block css	
	link(rel='stylesheet', href='/stylesheets/creation.css')
		
block content

	h1 Page de Jeu
	#table
		#leftColumn
			h2 Rang
			p Initié
			h2 Attributs
			p Habileté : 15
			p Endurance : 22
			p Pièces d'or : 17

		#midColumn
			h2 Disciplines Kai
			ul
				li Camouflage
				li Chasse
				li Maîtrise des Armes - Épée
				li Communication Animale
				li Puissance Psychique
		#rightColumn
			h2 Équipement
			.equipmentList
				h3 Armes
				ul
					li Épée
			.equipmentList
				h3 Sac à dos
				ul
					li Potion de Lampsur

				h3 Objets Spéciaux
				ul
					li Aucun
	#button
		button(
			type="start"
			id="confirmButton"
			onclick="location.href='page/1';"
			).
			Débuter la Partie

