doctype html
html(ng-app = "log4420App")
	head
		title= title
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js")
		link(rel='stylesheet', href='/stylesheets/style.css')
		block css
	body
		sidePanel
			block sidePanel
		header
			include ./menu.jade
		content
			block content
			footer
				include ./foot.jade
