.menu
	ul(class= "flex-container")
		li
			img(class= "menu" src="/images/lone-wolf.gif" alt="Menu de navigation")

		ul(class= "flex-subcontainer")
			li(class= "imageWrapper" id="accueil")
				a(href="/accueil")
					img(src="/images/misc_medieval_home-512.png" alt="Accueil" height="42" width="42")
					p Accueil
			li(class= "imageWrapper" id="creation")
				a(href="/creation")
					img(src="/images/creation.png" alt="Création du joueur" height="42" width="42")
					p Création
			li(class= "imageWrapper" id="jeu") 
				a(href="/page")
					img(src="/images/61_Parchment_Icon.png" alt="Jeu" height="42" width="42")
					p Jeu
			li(class= "imageWrapper" id="aide")
				a(href="/aide")
					img(src="/images/great_tome_icon.png" alt="Aide" height="42" width="42")
					p Aide 