p.
    Dans l'obscurité balayée de neige, vous distinguez deux petits points rouges et brillants qui grandissent peu à peu. Puis soudain, une forme se dessine dans l'ombre : vous voyez alors apparaître une grande et hideuse créature quadrupède qui bondit sur vous. Elle a les yeux étincelants et ouvre une gueule hérissée de dents, exhibant en même temps une énorme langue couverte de poils rêches qu'elle pointe en direction de votre visage.

p.
    « Argh ! Un Languabarb ! » s'écrie Fenor. Il se précipite aussitôt à votre côté en brandissant une épée dont il essaie de frapper la langue de la créature. L'animal, cependant, est déjà sur vous et il vous faut le combattre.

p.
    Indifférente à l'attaque de Fenor, la bête monstrueuse ne semble s'intéresser qu'à vous. Fenor lui porte ses coups par-derrière et ne sera donc pas blessé.

p.
    En revanche, il fera perdre 3 points supplémentaires d'ENDURANCE à votre adversaire, et cela à chaque Assaut, enraison des blessures qu'il lui inflige.

.combat
    p LANGUABARB HABILETÉ: 11 ENDURANCE: 35
    .ronde
        p <tour>Ronde Combat: 1</tour>
        p Ratio de combat: 20 Chiffre aléatoire: 4
        p <ennemi>LANGUABARB</ennemi> a obtenu <dmg>5 dégâts</dmg> - et a maintenant <vie>34 point d'ENDURANCE</vie>
        p <joueur>LONE WOLF</joueur> a eu <dmg>5 dégâts</dmg> - et a maintenant <vie>13 points d'ENDURANCE</vie>.
    .ronde
        p <tour>Ronde Combat: 2</tour>
        p Ratio de combat: 20 Chiffre aléatoire: 6
        p <ennemi>LANGUABARB</ennemi> a obtenu <dmg>11 dégâts</dmg> - et a maintenant <vie>39 point d'ENDURANCE</vie>
        p <joueur>LONE WOLF</joueur> a eu <dmg>2 dégâts</dmg> - et a maintenant <vie>18 points d'ENDURANCE</vie>.

div#decision
    p Si vous tuez la créature sans perdre aucun point d'ENDURANCE, #[a(href="/page/70") rendez-vous au 70].
    p  Si vous perdez des points d'ENDURANCE aucours du combat, #[a(href="/page/129") rendez-vous immédiatement au 129].
