p Vous cachez le cadavre sous l'escalier et vous vous hâtez de le fouiller. Vous y découvrez une Épée d'Os et un Disque de Pierre Bleue. Si vous souhaitez conserver l'un ou l'autre de ces objets(ou les deux), inscrivez-les sur votre Feuille d'Aventure dans la case Objets Spéciaux. Vous abandonnez ensuite le cadavre et vous montez l'escalier quatre à quatre.

div#decision
	p #[a(href="#modal-331") Rendez-vous au 331].


div(class="modal" id="modal-331" aria-hidden="true")
	div(class="modal-dialog")
		div(class="modal-body")
			p Choisissez parmis les objets suivants:
			ul(class= "flex-container")
				li 
					input(type="checkbox", name="Épée d'Os", id="item1")
					label(for="item1")
						figure
							.imageBackground
								img(src="../images/bonesword.png")
							figcaption Épée d'OS
				li 
					input(type="checkbox", name="Disque de Pierre Bleue", id="item2")
					label(for="item2")
						figure
							.imageBackground
								img(src="../images/stonedisk.png")
							figcaptionvide Disque de Pierre Bleue

		div(class="modal-footer")
			a(href="/page/331" class="btn") Continuer