extends layout

block css
	link(rel='stylesheet', href='/stylesheets/page.css')
	link(rel='stylesheet', href='/stylesheets/modal.css')
	link(rel='stylesheet', href='/stylesheets/sidePanel.css')		
	link(rel='stylesheet', href='/stylesheets/combat.css')
	script(src="/javascripts/controllerPage.js")
		
block content
	div(ng-controller="objectsController")
		input(type='checkbox'
				name='bagButton'
				id='bagButton')
		input(type='checkbox'
				name='objectsButton'
				id='objectsButton')
		#bag
			ul(class= "flex-container")
				li(ng-repeat="object in bag")
					figure
						.imageBackground
							img(ng-src="{{object.path}}")
						figcaption(ng-bind="object.name")
			label(for='bagButton')

		#objectSpeciaux
			ul(class= "flex-container")
				li(ng-repeat="object in specialObjects")
					figure
						.imageBackground
							img(ng-src="{{object.path}}")
						figcaption(ng-bind="object.name")
			label(for='objectsButton')

		.buttonRow
			label(for='bagButton', id='bagLabel') Sac à Dos
			label(for='objectsButton', id='objectsLabel') Objets Spéciaux	

	
	div(ng-controller="ControllerPage as ctrl")
		div(ng-if="playerProg.alive != 0")
			h1 Page {{page}}
			p(ng-show='playerProg.message == 2', class='message') Votre aptitude de Guérison vous redonne 1 point de vie!
			div(ng-bind-html='adventure', compile-template)
			div(ng-bind-html='decision', compile-template)
		div(ng-if="playerProg.alive == 0")
			img(class="gameOverImage", src="../../images/cemetary.jpg")
			.gameLostText
				p Vous êtes mort!
				p Pour recommencer une partie retourner à la #[a(href="http://localhost:3000/creation") page de création].
block sidePanel
	include ./sidePanel.jade