div(ng-controller="sidebarController")
	h2(ng-bind = "player.name")
	input(type='checkbox'
			name='rangButton'
			id='rangButton')
		
	h3
		label(for='rangButton', id="rangOpen") Rang &#9662
		label(for='rangButton', id="rangClose") Rang &#9656
	.rang
		p Initié

	input(type='checkbox'
			name='attributsButton'
			id='attributsButton')

	h3 
		label(for='attributsButton', id="attributsOpen") Attributs &#9662
		label(for='attributsButton', id="attributsClose") Attributs &#9656
	.attributs
		#value(ng-bind="calculateHability()")
		p Habileté
		#value(ng-bind="calculateEndurance()")
		p Endurance 
		#value(ng-bind="player.or")
		p Pièces d'or

	input(type='checkbox'
			name='disciplinesButton'
			id='disciplinesButton')

	h3
		label(for='disciplinesButton', id="disciplinesOpen") Disciplines Kai &#9662
		label(for='disciplinesButton', id="disciplinesClose") Disciplines Kai &#9656
	ul(class="disciplines")
		li(ng-repeat="discipline in player.disciplines") {{discipline}}

	input(type='checkbox'
			name='armesButton'
			id='armesButton')

	h3
		label(for='armesButton', id="armesOpen") Liste d'armes &#9662
		label(for='armesButton', id="armesClose") Liste d'armes &#9656
	ul(class="armes")
		li(ng-repeat="arme in player.objets.armes") {{arme}}


	input(type='checkbox'
			name='historiqueButton'
			id='historiqueButton')

	h3
		label(for='historiqueButton', id="historiqueOpen") Historique &#9662
		label(for='historiqueButton', id="historiqueClose") Historique &#9656
	.combatHistory
		table
			thead
				tr
					th ennemi
					th tours
					th résultat
			tbody
				tr(ng-repeat="fight in player.combatHistory")
					td {{fight.ennemi}}
					td {{fight.tour}}
					td {{fight.result}}




