div(ng-controller="aleatoireController as alea")
	div(ng-show="playerProg.section == 1")
		p.
			Utilisez la Table de Hasard pour obtenir un chiffre.

		#combatButtonRow
			button(ng-click="HasardBonus()"
				).
				Utilisez la table de Hasard.

	div(ng-show="playerProg.section == 2")
		p(ng-if= "playerProg.des == 85")  Si vous tirez un chiffre de 0 à 6, rendez-vous au #[a(ng-click='loadPage(85)') 85].
		p(ng-if= "playerProg.des == 300")  De 7 à 9, rendez-vous au #[a(ng-click='loadPage(300)') 300].
