div(ng-controller="choixController as choix")
	div(ng-show="playerProg.section == 1")
		p Choisissez parmis les objets suivants:

		div(class="modal-body")
			ul(class= "flex-container")
				li 
					input(type="checkbox", name="bonesword", id="item1", ng-model="checkbox57.bonesword")
					label(for="item1")
						figure
							.imageBackground
								img(src="../../images/bonesword.png")
							figcaption Épée d'OS
				li 
					input(type="checkbox", name="disk", id="item2", ng-model="checkbox57.disk")
					label(for="item2")
						figure
							.imageBackground
								img(src="../../images/stonedisk.png")
							figcaptionvide Disque de Pierre Bleue
				

		#combatButtonRow
			button(ng-click="accepteChoix()"
				).
				Continuer


	div(ng-show="playerProg.section == 2")
		p Rendez-vous au #[a(ng-click='loadPage(331)') 331].
