div#decision
    p(ng-show='hasSpecialObject("Huile de Bakanal")') Vous vous êtes enduit le corps d'huile de Bakanal, rendez-vous au #[a(ng-click='loadPage(209)') 209].
    p(ng-hide='hasSpecialObject("Huile de Bakanal")') Vous ne vous êtes pas enduit le corps d'huile de Bakanal, rendez-vous au #[a(ng-click='loadPage(339)') 339].
