#creation{
  background: #FF5A09;
}

#errorMessage
{
	color:red;
	text-align: center;
}

#oldPlayers
{
	width: 75%;
	display: table;
	height: auto;
	padding: 10px;
	margin: 10px auto;
}

tr
{
	display: table-row;
}

td
{
	display: inline-block;
	text-align: center;
	width:24%;
	overflow: hidden;
}

.button
{
	display: inline-block;
	width: auto;
	max-width:75%;
	height: auto;
	background: #393939;
	border: 3px solid #FF5A09;
	border-radius: 10px 0px 0px 10px;
	padding: 10px;
	text-align: center;
	color: #F3843E;
	font-weight: bold;
	margin : 0px 0px 0px auto;
	text-decoration:none;
	white-space: nowrap;
}

.delButton
{
	display: inline-block;
	width: 5%;
	height: auto;
	background: #393939;
	border: 3px solid #FF5A09;
	border-radius: 0px 10px 10px 0px;
	padding: 10px;
	text-align: center;
	color: #FF9900;
	font-weight: bold;
	margin : 10px auto 10px 0px;
	text-decoration:none;
}

fieldset
{
	border:0;
}

h1
{
	text-align: center;
    color: #FF5A09;
    font-size: 300%;
}

h2
{
    color: #FF5A09;
    font-size:250%;
}

h3
{
	color: #FF5A09;
    font-size:200%;
}

p,ul
{
	font-size: 150%;
}

ul, ol
{
	font-family: "papyrus";
}

input[type=checkbox], input[type=number], input[name="name"]{
   display:none;
}

input[name="nameInput"]{
	background-color: #393939;
	width: 75px;
}

#MAITRISEDESARMES:not(:checked) ~ #maitriseDesArmesList
{
	display: none;
}

*:checked ~ label
{
	color: #F3843E;
	font-weight: bold;
}

*:not(:checked) ~ label:hover
{
	color: #FF9900;
}

#maitriseDesArmesList *:not(:checked) ~ label:hover
{
	color: white;
}

#table
{
	display: table;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	width: 90%;
}

#leftColumn
{
	display: table-cell;
	margin: 0 auto;
	text-align: left;
	min-width: 20%;
}
#midColumn
{
	display: table-cell;
	margin: 0 auto;
	text-align: left;
	min-width: 20%;
}
#rightColumn
{
	display: table-cell;
	margin: 0 auto;
	text-align: left;
	min-width: 20%;
	max-width:400px;
}

.equipmentList
{
	display: table-cell;
	padding-right: 30px;
}

#button
{
	display: table;
	margin-top: 100px;
	margin: 0 auto;
}

#confirmButton
{
	font-size: 200%;
	background: #FF5A09;
	border: 3px solid #FF9900;
	border-radius: 10px;
}

#confirmButton:hover
{
	color: #FF5A09;
	background: white;
}