#jeu{
  background: #FF5A09;
}

content { 
  float: right;
  left : 230px;
  right: 0;
}

.textImage
{
  max-width: 25%;
}

.combat table th, .combat table td
{
  border: 1px solid #FF5A09;
}

.combat table
{
  border-collapse:collapse;
  width: 70%;
  margin : 20px 20px;
}
.combat table tr
{
  width:100%;
  padding: auto;
}
.combat table td
{
  width:20%;
  padding: auto;
  margin: auto;
  text-align: center;
}
#combatButtonRow
{
  width: 70%;
  text-align: center;
}

#combatButtonRow button
{
  width: 25%;
  background: #393939;
  border: 3px solid #FF5A09;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  color: #F3843E;
  font-weight: bold;
  margin : 0px 4%;
}

#flawlessWin, #win, #run, #death{
  visibility: hidden;
  margin: 0px 4%;
}

#bagButton, #objectsButton{
	display: none;
}

.buttonRow {
  position: fixed;
  text-align: center;
  top: 108px;
  margin-left: 50px;
  padding: 0;
  line-height: 35px;
  font-size: 125%;
  z-index: 8; 
}

.buttonRow label {
  position: relative;
  padding: 0 10px;
  width: 150px;
  height: 35px;
  background: #FF5A09;
  display: inline-block;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
  opacity: 0.9;
  font-family: "papyrus";
}

#bag, #objectSpeciaux{
    margin:0 auto;
    position: fixed;
    top: -25px;
    height : 110px;
    width: 880px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    background: rgba(243,132,62,0.5); //#F3843E
    display: inline;
    z-index: 4;
    border-left: medium solid #FF5A09;
    border-bottom: medium solid #FF5A09;
    border-right: medium solid #FF5A09;
    overflow: hidden;
}
#bag label, #objectSpeciaux label
{
  position: absolute;
  top: 0;
  left: 0;
  height : 100%;
  width: 100%;
  display: block;
  z-index: -1;
}

#bag ul, #objectSpeciaux ul
{
  display: inline;
  pointer-events:none;
}

#bag li ,#objectSpeciaux li
{
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px; 
  padding:5px;
  text-align: center;
  text-decoration: none;
  z-index: 2;
}

#bag li figure, #objectSpeciaux li figure
{
  margin:0;
  height: 90px;
  width: 100px; 
  color:white;
  text-align: center;
  font-family: "Copperplate Gothic Light";
  font-weight: bold;
  font-size: 105%;
}
#bag li figure .imageBackground, #objectSpeciaux li figure .imageBackground
{
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  width: 65px;
  height: 65px;
  background: rgba(255,90,9,0.5);
  border-style:solid;
  border-width: medium;
  border-color: #FF9900;
  pointer-events:all;
}

#bag li figure .imageBackground img, #objectSpeciaux li figure .imageBackground img
{
  max-height: 65px;
  max-width: 65px;
  height: auto;
  width: auto;
}

#bag li figure figcaption, #objectSpeciaux li figure figcaption
{
  pointer-events:none;
}

#bagButton:checked ~ #bag, #bagButton:not(:checked) ~ #objectsButton:checked ~ #objectSpeciaux
{
  top:110px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#bagButton:checked ~ .buttonRow #bagLabel, #bagButton:not(:checked) ~ #objectsButton:checked ~ .buttonRow #objectsLabel
{
  top:132px;
}

#bagButton:checked ~ #objectsButton:checked ~ #bag
{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#bagButton:checked ~ #objectsButton:checked ~ #objectSpeciaux
{
  top:240px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#bagButton:checked ~ #objectsButton:checked ~ .buttonRow #objectsLabel
{
  top:262px;
}

#objectsButton:checked ~ .buttonRow #bagLabel, #bagButton:checked ~ #objectsButton:not(:checked) ~ .buttonRow #objectsLabel 
{
  opacity:.9;  
}

.modal-body .flex-container{
  padding: 0;
  margin: 0;
  list-style: none;

  width: 70%;    
  display: inline-flex;
  flex-flow: row;
  
  justify-content: center;

}

.message{
  color: white;
  background: rgba(243,132,62,0.5); 
  border: medium solid #FF5A09;
  border-radius: 5px;
  position: relative;
  left: 20%;
  width: 50%;

  padding: 10px;
  font-size: 16px;

  text-align: center;
}