body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/mainBackground.png");
  overflow: hidden;
}

content { 
  position: fixed; 
  top: 110px;
  bottom: 0;
  left:0;
  right: 0;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  overflow: auto;
}

* 
{
    color: white;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

ul
{
    list-style-type: none;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    float : top;
    height : 100px;
    width: 100%;
    padding-left: 0px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background: #393939;
    z-index: 10;
}

h1, h2, h3, p
{
  font-family: "papyrus";
  text-align: justify;
}

h1
{
  color:#FF5A09;
}

h2,h3
{
  color:#F3843E;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  width: 100%;    
  display: inline-flex;
  flex-flow: row;
  
  justify-content: space-between;

}

.flex-container img{
  height: 100px;
  width: auto;
}

.flex-subcontainer{
  display: inline-flex;

  list-style: none;
  flex-flow: row;

  height: 110px;
  width: 100%;
  justify-content: space-around;
}

.imageWrapper img{
  position: relative;
  opacity: 1;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.imageWrapper p{
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  margin-left: -40px;
  width: 150px;
  font-size: 36px;
  font-weight: bold;
  font-variant: small-caps;
  color: white ;
  text-align: center;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.imageWrapper:hover img{
  opacity: 0.2;
}

.imageWrapper:hover p{
  opacity: 1;
}

.textImage
{
  float: right;
  margin:10px;
}

.gameOverImage
{
  float: right;
  margin:10px;
  width : 50%;
  height: auto;
}

.gameLostText
{
  padding: 50px 0px 0px 0px;
}

header li a {
  position: relative;
  color: red;
  text-decoration: none;
}

footer
{
  padding-top: 25px;
}
