div(ng-controller="choixController as choix")
  div(ng-show="playerProg.section == 1")
    p(#class="message") Vous obtenez de l'huile de Bakanal!

    #combatButtonRow
      button(ng-click='ajouterObjetSpecial("Huile de Bakanal")'
        ).
        Continuer

  div(ng-show="playerProg.section == 2")
    p Rendez-vous au #[a(ng-click='loadPage(134)') 134]
