div#decision
    p Si vous acceptez de l'imiter en vous appliquant de l'huile de Bakanal sur le corps, rendez-vous au #[a(ng-click='loadPage(91)') 91].
    p Si, en revanche, l'idée de sentir à peu près aussi bon qu'une cuve remplie de roquefort rance ne vous séduit guère, rendez-vous au #[a(ng-click='loadPage(172)') 172].
