div(ng-controller="choixController as choix")
	div(ng-show="playerProg.section == 1")
		p Choisissez parmis les objets suivants:

		div(class="modal-body")
			ul(class= "flex-container")
				li 
					input(type="checkbox", name="repas", id="item1", ng-model="checkbox12.repas3")
					label(for="item1")
						figure
							.imageBackground
								img(src="../../images/food.png")
							figcaption 3 Repas
				li 
					input(type="checkbox", name="fourrure", id="item2", ng-model="checkbox12.fur")
					label(for="item2")
						figure
							.imageBackground
								img(src="../../images/fur.png")
							figcaption Couvertes en Fourrure.
				li 
					input(type="checkbox", name="corde", id="item3", ng-model="checkbox12.corde")
					label(for="item3")
						figure
							.imageBackground
								img(src="../../images/rope.png")
							figcaption Corde

		#combatButtonRow
				button(ng-click="accepteChoix()"
					).
					Continuer

	div(ng-show="playerProg.section == 2")
		p(#class="message") Vous utilisez un repas. Celui-ci sera retirez de votre inventaire.

		#combatButtonRow
			button(ng-click='retirerObjet("rations spéciales")'
				).
				Continuer					

	div(ng-show="playerProg.section == 3")
		p Si vous souhaitez tirer votre épée et aller voir de quoi il s'agit, Rendez-vous au #[a(ng-click="loadPage(180)") 180].
		p Si vous préférez retenir votre souffle en restant aussi immobile que possible, Rendez-vous au 259.