div(ng-controller="choixController as choix")
  div(ng-show='playerProg.section == 1  && !hasDiscipline("Guérison")')
    p(#class="message") Vous perdez 4 points de vie!

    #combatButtonRow
      button(ng-click="prendreDmg(4)"
        ).
        Continuer

  div(ng-controller="aleatoireController as alea")
    div(ng-show='(playerProg.section == 2 && !hasDiscipline("Guérison")) || (playerProg.section == 1 && hasDiscipline("Guérison") && playerProg.des == -1)')

      p Utilisez la Table de Hasard pour obtenir un chiffre.

      #combatButtonRow
        button(ng-click="Hasard()"
          ).
          Prendre Utilisez la table de Hasard.

  div(ng-show="playerProg.des != -1")
    p(ng-if= "playerProg.des == 62")  Si vous tirez un chiffre entre 0 et 4, rendez-vous au #[a(ng-click='loadPage(62)') 62].
    p(ng-if= "playerProg.des == 288")  Entre 5 et 9, rendez-vous au #[a(ng-click='loadPage(288)') 288].

