img(class="textImage", src="../../images/imagePage78.png")

p Vous vous préparez en hâte et vous sortez de la tente. Le vent s'est intensifié et il emporte la neige poudreuse en petits tourbillons qui réduisent considérablement la visibilité. Une ombre sur votre droite trahit la présence du Bakanal qui bondit sur vous. Vous n'avez plus le temps d'éviter son Assaut, et il vous faut le combattre jusqu'à la mort.

div(ng-controller="combatController", ng-init="fightStart('BAKANAL', 19, 30, 0, 78)", class="combat")
	p {{ennemiName}} HABILETÉ: {{ennemiAbility}} ENDURANCE: {{ennemiEndurance}}
	table
		thead
			tr
				th tour
				th ratio de combat
				th roulement de dés
				th dommage donné
				th dommage reçu
		tbody
			tr(ng-repeat="combatStat in combatStats")
				td {{combatStat.tour}}
				td {{combatStat.ratio}}
				td {{combatStat.des}}
				td {{combatStat.dmgDone}}
				td {{combatStat.dmgReceived}}
	#combatButtonRow
		button(ng-click="fight(false)") Combat
		button(ng-click="run()") Fuite
		button(ng-click="fight(true)", id="psychicPower") Puissance Psychique
