p Si vous souhaitez sortir de la
  |tente pour vous lancer à l'attaque du Bakanal, rendez-vous au #[a(ng-click='loadPage(78)') 78]. 

p(ng-show='hasDiscipline("Chasse")') Si vous maîtrisez la Discipline Kaï de la Chasse, rendez-vous 
  |au #[a(ng-click='loadPage(204)') 204].

p(ng-show='hasDiscipline("Communication Animale")') Si vous maîtrisez la Discipline Kaï de la Communication Animale, rendez-vous au #[a(ng-click='loadPage(318)') 318].