div#decision
    p Si vous souhaitez abandonner les traîneaux et les chiens pourfranchir à pied les monts Myjavik, rendez-vous au #[a(ng-click='loadPage(12)') 12].
    p Si vous préférez perdre deux jours et revenir sur le glacier de Viad, rendez-vous au 238.
