p.
    Dans l'obscurité balayée de neige, vous distinguez deux petits points rouges et brillants qui grandissent peu à peu. Puis soudain, une forme se dessine dans l'ombre : vous voyez alors apparaître une grande et hideuse créature quadrupède qui bondit sur vous. Elle a les yeux étincelants et ouvre une gueule hérissée de dents, exhibant en même temps une énorme langue couverte de poils rêches qu'elle pointe en direction de votre visage.

p.
    « Argh ! Un Languabarb ! » s'écrie Fenor. Il se précipite aussitôt à votre côté en brandissant une épée dont il essaie de frapper la langue de la créature. L'animal, cependant, est déjà sur vous et il vous faut le combattre.

p.
    Indifférente à l'attaque de Fenor, la bête monstrueuse ne semble s'intéresser qu'à vous. Fenor lui porte ses coups par-derrière et ne sera donc pas blessé.

p.
    En revanche, il fera perdre 3 points supplémentaires d'ENDURANCE à votre adversaire, et cela à chaque Assaut, enraison des blessures qu'il lui inflige.


div(ng-controller="combatController", ng-init="fightStart('LANGUABARB', 11, 35, 3, 180)", class="combat")
    p {{ennemiName}} HABILETÉ: {{ennemiAbility}} ENDURANCE: {{ennemiEndurance}}
    table
        thead
            tr
                th tour
                th ratio de combat
                th roulement de dés
                th dommage donné
                th dommage reçu
        tbody
            tr(ng-repeat="combatStat in combatStats")
                td {{combatStat.tour}}
                td {{combatStat.ratio}}
                td {{combatStat.des}}
                td {{combatStat.dmgDone}}
                td {{combatStat.dmgReceived}}
    #combatButtonRow
        button(ng-click="fight(false)") Combat
        button(ng-click="run()") Fuite
        button(ng-click="fight(true)", id="psychicPower") Puissance Psychique