p Si vous souhaitez prendre l'itinéraire le plus court, mais 
  |le plus difficile, celui qui passe par le glacier de Viad,rendez-vous au #[a(ng-click='loadPage(160)') 160].

p Si vous préférez essayer l'itinéraire le plus 
  |long, mais le plus facile, celui qui traverse la plaine de Hrod et le défilé de la Tempête, rendez-vous au  #[a(ng-click='loadPage(273)') 273]. 
